---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aviso Legal">
    <main class="py-16 sm:py-20 bg-white">
        <div class="container mx-auto px-4 prose prose-lg max-w-4xl">
            <h1>Aviso Legal</h1>
            <p>
                El presente aviso legal (en adelante, el «Aviso Legal») regula
                el uso del servicio del portal de Internet inmospain.es (en
                adelante, el «Web») de Inmospain Servicios Inmobiliarios S.L.
                con domicilio social en Avenida Monasterio de el Escorial, 10,
                28049, Madrid con CIF B82335696 inscrita en el Registro
                mercantil de Madrid (Tomo: 14227. Libro: 0. Folio: 40. Sección:
                8. Hoja: 234268), y dirección de correo electrónico
                info@inmospain.es.
            </p>

            <h2>Legislación</h2>
            <p>
                Con carácter general las relaciones entre Inmospain Servicios
                Inmobiliarios S.L. con los Usuarios de sus servicios
                telemáticos, presentes en la web, se encuentran sometidas a la
                legislación y jurisdicción españolas.
            </p>
            <p>
                Las partes renuncian expresamente al fuero que les pudiera
                corresponder y someten expresamente a los Juzgados y Tribunales
                de Madrid para resolver cualquier controversia que pueda surgir
                en la interpretación o ejecución de las presentes condiciones
                contractuales.
            </p>

            <h2>Contenido y uso</h2>
            <p>
                El Usuario queda informado, y acepta, que el acceso a la
                presente web no supone, en modo alguno, el inicio de una
                relación comercial con Inmospain Servicios Inmobiliarios S.L.
            </p>
            <p>
                El titular del web no se identifica con las opiniones vertidas
                en el mismo por sus colaboradores. La Empresa se reserva el
                derecho de efectuar sin previo aviso las modificaciones que
                considere oportunas en su Web, pudiendo cambiar, suprimir o
                añadir tanto los contenidos y servicios que se presten a través
                de la misma como la forma en la que éstos aparezcan presentados
                o localizados en sus servidores.
            </p>

            <h2>Propiedad intelectual e industrial</h2>
            <p>
                Los derechos de propiedad intelectual del contenido de las
                páginas web, su diseño gráfico y códigos son titularidad de
                Inmospain Servicios Inmobiliarios S.L. y, por tanto, queda
                prohibida su reproducción, distribución, comunicación pública,
                transformación o cualquier otra actividad que se pueda realizar
                con los contenidos de sus páginas web ni aún citando las
                fuentes, salvo consentimiento por escrito de Inmospain Servicios
                Inmobiliarios S.L. Todos los nombres comerciales, marcas o
                signos distintos de cualquier clase contenidos en las páginas
                web de la Empresa son propiedad de sus dueños y están protegidos
                por ley.
            </p>

            <h2>Enlaces (Links)</h2>
            <p>
                La presencia de enlaces (links) en las páginas web de Inmospain
                Servicios Inmobiliarios S.L. tiene finalidad meramente
                informativa y en ningún caso supone sugerencia, invitación o
                recomendación sobre los mismos.
            </p>
        </div>
    </main></Layout
>
