---
// src/pages/contacto.astro
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-center mb-6">
            Contacta con Nosotros
        </h1>
        <p class="text-center text-gray-600 mb-8">
            ¿Interesado en una propiedad? Rellena el formulario y te
            contactaremos.
        </p>

        <form
            action="https://formspree.io/f/xjkojkvr"
            method="POST"
            class="max-w-xl mx-auto bg-white p-8 rounded-lg shadow-md"
        >
            <input
                type="hidden"
                name="_next"
                value="https://inmo-web.netlify.app/gracias"
            />

            <div class="mb-4">
                <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="name"
                >
                    Nombre Completo
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
                    id="name"
                    type="text"
                    name="name"
                    required
                />
            </div>

            <div class="mb-4">
                <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="email"
                >
                    Email
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
                    id="email"
                    type="email"
                    name="email"
                    required
                />
            </div>

            <div class="mb-6">
                <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="message"
                >
                    Mensaje
                </label>
                <textarea
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
                    id="message"
                    name="message"
                    rows="5"
                    required></textarea>
            </div>

            <div class="text-center">
                <button
                    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full"
                    type="submit"
                >
                    Enviar Mensaje
                </button>
            </div>
        </form>
    </div>
</Layout>
