---
//  archivo: src/pages/index.astro
import Layout from '../layouts/Layout.astro';
---
<Layout title="Inicio">
  <main>
    <h1 class="text-4xl font-bold text-center text-blue-800 p-8">
      Bienvenido a INMO-WEB
    </h1>
    <p class="text-center">
      Tu próxima casa te está esperando.
    </p>
  </main>
</Layout>