---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de privacidad">
    <main class="py-16 sm:py-20 bg-white">
        <div class="container mx-auto px-4 prose prose-lg max-w-4xl">
            <h1>Política de privacidad</h1>
            <h2>Confidencialidad y Protección de Datos</h2>
            <p>
                A efecto de lo previsto en RGPD de 27 de abril de 2016 y la Ley
                Orgánica 3/2018 de 5 de diciembre Inmospain Servicios
                Inmobiliarios S.L., informa al Usuario de la existencia de un
                tratamiento automatizado de datos de carácter personal creado
                por y para Inmospain Servicios Inmobiliarios S.L. y bajo su
                responsabilidad, con la finalidad de realizar el mantenimiento y
                gestión de la relación con el Usuario, así como las labores de
                información. En el momento de la aceptación de las presentes
                condiciones generales, Inmospain Servicios Inmobiliarios S.L.
                precisará del Usuario la recogida de unos datos imprescindibles
                para la prestación de sus servicios.
            </p>

            <h2>Registro de ficheros y formularios</h2>
            <p>
                La cumplimentación del formulario de registro es obligatoria
                para acceder y disfrutar de determinados servicios ofrecidos en
                la web. El no facilitar los datos personales solicitados o el no
                aceptar la presente política de protección de datos supone la
                imposibilidad de suscribirse, registrarse o participar en
                cualquiera de las promociones en las que se soliciten datos
                carácter personal.
            </p>
            <p>
                A efecto de lo previsto en RGPD de 27 de abril de 2016 la Ley
                Orgánica 3/2018 de 5 de diciembre, le informamos que los datos
                personales que se obtengan como consecuencia del cumplimentado
                del formulario de contacto de la web, serán incorporados a un
                fichero titularidad de Inmospain Servicios Inmobiliarios S.L.
                con C.I.F B82335696 y domicilio en Avenida Monasterio de el
                Escorial, 10, 28049, Madrid teniendo implementadas las medidas
                de seguridad establecidas en el Real Decreto 1720/2007, de 11 de
                junio.
            </p>

            <h2>Exactitud y veracidad de los datos facilitados</h2>
            <p>
                El Usuario es el único responsable de la veracidad y corrección
                de los datos incluidos, exonerándose Inmospain Servicios
                Inmobiliarios S.L. de cualquier responsabilidad al respecto. El
                Usuario del sitio web inmospain.es que facilite datos de
                personas fallecidas está autorizado por los familiares de éstas
                que han consentido la publicación de esos datos. Los usuarios
                garantizan y responden, en cualquier caso, de la exactitud,
                vigencia y autenticidad de los datos personales facilitados, y
                se comprometen a mantenerlos debidamente actualizados. El
                usuario acepta proporcionar información completa y correcta en
                el formulario de registro o suscripción. Inmospain Servicios
                Inmobiliarios S.L. no responde de la veracidad de las
                informaciones que no sean de elaboración propia y de las que se
                indique otra fuente, por lo que tampoco asume responsabilidad
                alguna en cuanto a hipotéticos perjuicios que pudieran
                originarse por el uso de dicha información. Inmospain Servicios
                Inmobiliarios S.L. se reserva el derecho a actualizar, modificar
                o eliminar la información contenida en sus páginas web pudiendo
                incluso limitar o no permitir el acceso a dicha información. Se
                exonera a Inmospain Servicios Inmobiliarios S.L. de
                responsabilidad ante cualquier daño o perjuicio que pudiera
                sufrir el Usuario como consecuencia de errores, defectos u
                omisiones, en la información facilitada por Inmospain Servicios
                Inmobiliarios S.L. siempre que proceda de fuentes ajenas a
                Inmospain Servicios Inmobiliarios S.L.
            </p>

            <h2>Cookies</h2>
            <p>
                El sitio inmospain.es utiliza cookies, considerando tales
                ficheros físicos de información alojados en el propio terminal
                del usuario y sirven para facilitar la navegación del usuario
                por el portal. De todas formas, el usuario tiene la posibilidad
                de configurar el navegador de tal modo que impida la instalación
                de estos archivos.
            </p>

            <h2>Legitimación del Tratamiento</h2>
            <p>
                A efectos de lo establecido en el art. 6.1.a del RGPD de 27 de
                abril de 2016, la base legal para el tratamiento de datos
                personales de los usuarios, se basará en el consentimiento de
                los mismos para el tratamiento de sus datos personales para uno
                o varios fines específicos. En dicho caso se recaba el
                consentimiento y el acuerdo celebrado con los interesados a
                través del formulario de contacto habilitado el usuario la
                casilla “Acepto el Aviso Legal y la Política de Privacidad”.
            </p>
            <p>
                Asimismo, el Usuario es consciente que, en el momento de
                registrarse, sus publicaciones serán visibles públicamente para
                el resto de usuarios en el sitio Web inmospain.es así como en
                los diversos buscadores de Internet.
            </p>

            <h2>Finalidades</h2>
            <p>
                La finalidad de la recogida de los datos de Inmospain Servicios
                Inmobiliarios S.L., versará sobre los siguientes objetos de
                tratamiento:
            </p>
            <p>
                La gestión de datos recogidos en los formularios de la página
                web, la gestión de contactos, la realización de acciones de
                comunicación comercial y la respuesta a consultas y sugerencias,
                siendo en cualquier caso obligatorio su consentimiento. De no
                prestarlo no podremos atender su solicitud.
            </p>
            <p>
                Dicha información, será conservada por Inmospain Servicios
                Inmobiliarios S.L. el tiempo imprescindible para gestionar
                nuestra relación, pudiendo ejercer su derecho de acceso,
                rectificación, supresión, limitación, portabilidad y oposición
                de su tratamiento, así como oponerse al mismo enviando su
                solicitud por escrito Avenida Monasterio de el Escorial, 10,
                28049, Madrid, o al email: info@inmospain.es
            </p>

            <h2>Menores de edad</h2>
            <p>
                En el supuesto que algunos de nuestros servicios vayan dirigidos
                específicamente a menores de edad, Inmospain Servicios
                Inmobiliarios S.L. solicitará la conformidad de los padres o
                tutores para la recogida de los datos personales o, en su caso,
                para el tratamiento automatizado de los datos.
            </p>

            <h2>Cesión de datos a terceros</h2>
            <p>
                Inmospain Servicios Inmobiliarios S.L. no realiza cesiones de
                datos de los usuarios a terceros.
            </p>

            <h2>
                Ejercicio de derechos de acceso, rectificación, cancelación y
                oposición
            </h2>
            <p>
                Podrá dirigir sus comunicaciones y ejercitar los derechos de
                acceso, rectificación, supresión, limitación, portabilidad y
                oposición en la dirección de Internet a info@inmospain.es o bien
                por correo ordinario dirigido Inmospain Servicios Inmobiliarios
                S.L., Ref. RGPD, Avenida Monasterio de el Escorial, 10, 28049,
                Madrid. Para ejercer dichos derechos es necesario que usted
                acredite su personalidad frente a Inmospain Servicios
                Inmobiliarios S.L. mediante el envío de fotocopia de Documento
                Nacional de Identidad o cualquier otro medio válido en Derecho.
                No obstante, la modificación o rectificación de sus datos de
                registro se podrá realizar en el propio Site identificándose,
                previamente, con su usuario y contraseña.
            </p>

            <h2>Medidas de seguridad</h2>
            <p>
                Inmospain Servicios Inmobiliarios S.L. ha adoptado los niveles
                de seguridad de protección de los Datos Personales legalmente
                requeridos, y procuran instalar aquellos otros medios y medidas
                técnicas adicionales a su alcance para evitar la pérdida, mal
                uso, alteración, acceso no autorizado y robo de los Datos
                Personales Inmospain Servicios Inmobiliarios S.L. no será
                responsable de posibles daños o perjuicios que se pudieran
                derivar de interferencias, omisiones, interrupciones, virus
                informáticos, averías telefónicas o desconexiones en el
                funcionamiento operativo de este sistema electrónico, motivadas
                por causas ajenas a Inmospain Servicios Inmobiliarios S.L.; de
                retrasos o bloqueos en el uso del presente sistema electrónico
                causados por deficiencias o sobrecargas de líneas telefónicas o
                sobrecargas en el Centro de Procesos de Datos, en el sistema de
                Internet o en otros sistemas electrónicos, así como de daños que
                puedan ser causados por terceras personas mediante intromisiones
                ilegítimas fuera del control de Inmospain Servicios
                Inmobiliarios S.L.. Ello, no obstante, el Usuario debe ser
                consciente de que las medidas de seguridad en Internet no son
                inexpugnables.
            </p>

            <h2>Aceptación y consentimiento</h2>
            <p>
                El usuario declara haber sido informado de las condiciones sobre
                protección de datos personales, aceptando y consintiendo el
                tratamiento automatizado de los mismos por parte de Inmospain
                Servicios Inmobiliarios S.L. en la forma y para las finalidades
                indicadas en la presente Política de Protección de Datos
                Personales. Ciertos servicios prestados en el Portal pueden
                contener condiciones particulares con previsiones específicas en
                materia de protección de Datos Personales.
            </p>
        </div>
    </main>
</Layout>
